.tasks {
  &__column {
    float: left;
    width: calc(50% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    padding: 15px;
  }
  &__list {
    padding: 15px;
    background-color: #eee;
  }
  &__item {
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
  }
}
.task {
  &__main {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
  }
  &__console {
    overflow: hidden;
  }
}
.console {
  &__item {
    width: 50%;
    float: left;
  }
}
